@font-face {
    font-family: "Gill Sans Ultra";
    src: url("../../fonts/GillSans-UltraBold.eot");
    src: url("../../fonts/GillSans-UltraBold.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans-UltraBold.woff2") format("woff2"),
        url("../../fonts/GillSans-UltraBold.woff") format("woff"),
        url("../../fonts/GillSans-UltraBold.ttf") format("truetype"),
        url("../../fonts/GillSans-UltraBold.svg#GillSans-UltraBold") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans Ultra Bold Condensed";
    src: url("../../fonts/GillSans-UltraBoldCondensed.eot");
    src: url("../../fonts/GillSans-UltraBoldCondensed.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans-UltraBoldCondensed.woff2") format("woff2"),
        url("../../fonts/GillSans-UltraBoldCondensed.woff") format("woff"),
        url("../../fonts/GillSans-UltraBoldCondensed.ttf") format("truetype"),
        url("../../fonts/GillSans-UltraBoldCondensed.svg#GillSans-UltraBoldCondensed") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans-Italic.eot");
    src: url("../../fonts/GillSans-Italic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans-Italic.woff2") format("woff2"), url("../../fonts/GillSans-Italic.woff") format("woff"),
        url("../../fonts/GillSans-Italic.ttf") format("truetype"),
        url("../../fonts/GillSans-Italic.svg#GillSans-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans-Light.eot");
    src: url("../../fonts/GillSans-Light.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans-Light.woff2") format("woff2"), url("../../fonts/GillSans-Light.woff") format("woff"),
        url("../../fonts/GillSans-Light.ttf") format("truetype"),
        url("../../fonts/GillSans-Light.svg#GillSans-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans.eot");
    src: url("../../fonts/GillSans.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans.woff2") format("woff2"), url("../../fonts/GillSans.woff") format("woff"),
        url("../../fonts/GillSans.ttf") format("truetype"), url("../../fonts/GillSans.svg#GillSans") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans-Bold.eot");
    src: url("../../fonts/GillSans-Bold.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans-Bold.woff2") format("woff2"), url("../../fonts/GillSans-Bold.woff") format("woff"),
        url("../../fonts/GillSans-Bold.ttf") format("truetype"),
        url("../../fonts/GillSans-Bold.svg#GillSans-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans-Medium.eot");
    src: url("../../fonts/GillSans-Medium.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans-Medium.woff2") format("woff2"), url("../../fonts/GillSans-Medium.woff") format("woff"),
        url("../../fonts/GillSans-Medium.ttf") format("truetype"),
        url("../../fonts/GillSans-Medium.svg#GillSans-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans-LightItalic.eot");
    src: url("../../fonts/GillSans-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans-LightItalic.woff2") format("woff2"),
        url("../../fonts/GillSans-LightItalic.woff") format("woff"),
        url("../../fonts/GillSans-LightItalic.ttf") format("truetype"),
        url("../../fonts/GillSans-LightItalic.svg#GillSans-LightItalic") format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans-HeavyItalic.eot");
    src: url("../../fonts/GillSans-HeavyItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans-HeavyItalic.woff2") format("woff2"),
        url("../../fonts/GillSans-HeavyItalic.woff") format("woff"),
        url("../../fonts/GillSans-HeavyItalic.ttf") format("truetype"),
        url("../../fonts/GillSans-HeavyItalic.svg#GillSans-HeavyItalic") format("svg");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans-MediumItalic.eot");
    src: url("../../fonts/GillSans-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans-MediumItalic.woff2") format("woff2"),
        url("../../fonts/GillSans-MediumItalic.woff") format("woff"),
        url("../../fonts/GillSans-MediumItalic.ttf") format("truetype"),
        url("../../fonts/GillSans-MediumItalic.svg#GillSans-MediumItalic") format("svg");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans-Heavy.eot");
    src: url("../../fonts/GillSans-Heavy.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans-Heavy.woff2") format("woff2"), url("../../fonts/GillSans-Heavy.woff") format("woff"),
        url("../../fonts/GillSans-Heavy.ttf") format("truetype"),
        url("../../fonts/GillSans-Heavy.svg#GillSans-Heavy") format("svg");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans";
    src: url("../../fonts/GillSans-BoldItalic.eot");
    src: url("../../fonts/GillSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/GillSans-BoldItalic.woff2") format("woff2"),
        url("../../fonts/GillSans-BoldItalic.woff") format("woff"),
        url("../../fonts/GillSans-BoldItalic.ttf") format("truetype"),
        url("../../fonts/GillSans-BoldItalic.svg#GillSans-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
}

body{
    overflow-x:hidden;
}

.full {
    position: relative;
    float: left;
    width: 100%;
}

.center{
    position: relative;
    float: none;
    width: 1153px;

}