.philosophy {
    min-height: 590px;
    @extend .DflexAlign;
    background-position: center;
    background-repeat: no-repeat;
    @include respondmax(lg) {
        min-height: 390px;
    }

    &__layer {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 590px;
        width: 100%;
        @include respondmax(lg) {
            min-height: 390px;
        }
    }

    &__infos {
        position: relative;
        width: 934px;
        height: 324px;
        overflow: hidden;
        z-index: 1;

        @include respondmax(xl1210) {
            width: 100%;
        }
        h4 {
            position: relative;
            font-size: 50px;
            color: #fff;
            margin-bottom: 54px;

            @include respondmax(xl1210) {
                font-size: 44px;
            }

            @include respondmax(md)
            {
                font-size: 27px;
            }

            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: -20px;
                width: 200px;
                height: 5px;
                background-color: #fff;

                @include respondmax(xl1210) {
                    width: 100px;
                }
            }
        }

        p {
            font-size: 28px;
            color: #fff;

            @include respondmax(xl1210) {
                font-size: 18px;
            }
        }
    }
}
