<footer class="footer full">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a href="#">
          <img src="img/Plastcon  cap copy11.png" alt="">
        </a>
      </div>
      <div class="col-lg-9">
        <div class="footer__flex">
          <div class="footer__boxes">
            <h4>ŞİRKƏT PROFİLİ</h4>
            <p>Plastcon Group şirkəti Polimer plastik məhsulların (boru və boru birləşmələrin), beton boru, beton quyu,
              Polad məmulatların və hər növ kabellərin satışını həyata keçirir.
            </p>
            <p>
              Bununla yanaşı su, qaz və kanalizasiya sistemlərinin qurulmasında, habelə digər inşaat sahələrində tələb
              olunan materialların satışını təşkil etmək şirkətin digər fəaliyyət istiqamətlərindəndir. Uğurlu
              layihələrin
              icrasının reallaşdırılması və hal-hazırda da bu sahədə işlərin davam etdirilməsi bizim fəaliyyətimizin
              mərkəzində dayanır.
            </p>
          </div>
          <div class="footer__boxes">
            <ul class="footer__boxes--list">
              <li><a href="#">ANA SƏHİFƏ</a></li>
              <li><a href="#">HAQQIMIZDA</a></li>
              <li><a href="#">MƏHSULLAR</a></li>
              <li><a href="#">XİDMƏTLƏR</a></li>
              <li><a href="#">STANDARTLAR</a></li>
              <li><a href="#">PARTNYORLAR</a></li>
              <li><a href="#">ƏLAQƏ</a></li>
            </ul>
          </div>

          <div class="footer__boxes">
            <h4>
              Ünvan:
            </h4>
            <p>Xətai Ray. Babək Pr. Ələddin Quliyev Küçəsi
              Babək Plaza 1131 Məhəllə AZ1025
              Bakı/Azərbaycan
            </p>
            <p>
              <a class="footer__tel" href="tel:(+99412) 488 07 48">
                Telefon: (+99412) 488 07 48
              </a>
            </p>
            <p>
              <a class="footer__tel" href="tel:(+99450) 295 99 35">
                Telefon: (+99450) 295 99 35
              </a>
            </p>
            <p>
              <a class="footer__social" href="#"><i class="fab fa-facebook-square"></i></a>
              <a class="footer__social" href="#"><i class="fab fa-instagram"></i></a>
              <a class="footer__social" href="#"><i class="fab fa-linkedin"></i></a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="libs/Font-Awesome/js/all.min.js"></script>
<script src="libs/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=05e56ffb-5467-460c-9e50-343761344f0c&lang=en_US"
  type="text/javascript">
  </script>
<script src="js/all.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>