<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/Font-Awesome/css/all.min.css">
    <link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="css/main/main.min.css">
</head>

<body>
    <!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
    <header class="header">
        <div class="container">
            <div class="topHeader">
                <a href="#">
                    <img src="img/header.png" alt="">
                </a>
                <ul class="topHeader__list">
                    <li class="topHeader__item location">
                        <p>
                            <strong>
                                Xətai Ray. Babək Pr. Ələddin Quliyev Küçəsi
                            </strong>
                            Babək Plaza 1131 Məhəllə AZ1025
                            Bakı/Azərbaycan
                        </p>
                    </li>
                    <li class="topHeader__item clock">
                        <p>
                            <strong>
                                Bazarertəsi - Cümə:
                            </strong>
                            09.00 - 18.00
                        </p>
                    </li>
                    <li class="topHeader__item call">
                        <p>
                            <a href="tel:(+994 12) 488 07 48">
                                (+994 12) 488 07 48
                            </a>
                        </p>
                        <p>
                            <a href="tel:(+994 50) 295 99 35">
                                (+994 50) 295 99 35
                            </a>
                        </p>
                    </li>
                    <li class="topHeader__item mail">
                        <a href="mailto:info@plastcongroup.az">
                            info@plastcongroup.az
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header__navigation">
            <div class="container">
                <nav class="navbar">
                    <div class="container">

                        <div class="navbar-header">
                            <button class="navbar-toggler" data-toggle="open-navbar1">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>

                        <div class="navbar-menu" id="open-navbar1">
                            <ul class="navbar-nav">
                                <li class="active"><a href="#">ANA SƏHİFƏ</a></li>
                                <li class="navbar-dropdown">
                                    <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id">
                                        HAQQIMIZDA <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown" id="my-dropdown-id">
                                        <li><a href="#">MƏHSULLAR</a></li>
                                        <li><a href="#">XİDMƏTLƏR</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">STANDARTLAR</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">PARTNYORLAR</a></li>
                                    </ul>
                                </li>
                                <li class="navbar-dropdown">
                                    <a href="#" class="dropdown-toggler" data-dropdown="blog">
                                        Blog <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown" id="blog">
                                        <li><a href="#">Some category</a></li>
                                        <li><a href="#">Some another category</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">Seprated link</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">One more seprated link.</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">MƏHSULLAR</a></li>
                                <li><a href="#">XİDMƏTLƏR</a></li>
                                <li><a href="#">STANDARTLAR</a></li>
                                <li><a href="#">PARTNYORLAR</a></li>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>