.polimer {
    img {
        float: right;
        height: 200px;
        padding-left: 15px;

        @include respondmax(xl) {
            display: none;
        }

        @include respondmax(xl1457) {
            height: 124px;
        }
    }
}

