.tubesPolimer {
    position: relative;
    margin-bottom: 100px;
    padding: 80px 0;

    @include respondmax(xl1616) {
        padding-top: 40px;
    }

    &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -100px;
        width: 100%;
        height: 3px;
        background-color: #c4c4c4;
    }

    &__Top {
        display: flex;
        padding-bottom: 130px;

        @include respondmax(xl1616) {
            padding-bottom: 45px;
        }

        @include respondmax(xl80) {
            flex-direction: column !important;
        }

        &--left {
            position: relative;
            display: inline-block;
            width: 584px;

            img {
                @include respondmax(xl80) {
                    width: 100%;
                    max-height: 250px;
                    object-fit: cover;
                }
            }

            @include respondmax(xl80) {
                width: 100%;
            }

            &:after {
                position: absolute;
                content: "";
                width: 4px;
                right: -25px;
                height: 70%;
                background-color: #c8c5c5;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);

                @include respondmax(xl) {
                    display: none;
                }
            }
        }

        &--right {
            display: inline-block;
            width: calc(100% - 590px);
            padding-left: 65px;

            @include respondmax(xl1616) {
                width: calc(100% - 390px);
            }

            @include respondmax(xl80) {
                padding-right: 0 !important;
                width: 100%;
                margin-top: 25px;
            }

            @include respondmax(xl) {
                padding-left: 0;
            }

            h4 {
                font-size: 50px;
                font-weight: bold;
                color: #264796;

                @include respondmax(xl1616) {
                    font-size: 37px;
                }

                @include respondmax(md) {
                    font-size: 23px;
                }
            }

            p {
                font-size: 35px;
                color: #000;
                line-height: 50px;

                @include respondmax(xl1616) {
                    font-size: 24px;
                }

                @include respondmax(md) {
                    line-height: 28px;
                    font-size: 16px;
                }
            }
        }
    }

    &__second {
        padding: 159px 0;
        padding-bottom: 77px;
        background-color: #f5f4f4;
    }

    &__imgBox {
        min-height: 584px;
    }

    &__infoBox {
        &--top {
            background-color: #fff;
            padding: 20px 0;
            width: 541px;
            @extend .DflexBoth;

            @include respondmax(md) {
                width: 100%;
            }

            h4 {
                width: 73%;
                text-align: left;
                font-size: 50px;
                color: #264796;
                margin-bottom: 0;

                @include respondmax(xl1616) {
                    font-size: 40px;
                }

                @include respondmax(md) {
                    font-size: 26px;
                    text-align: center;
                }
            }

            top: -80px;
            position: relative;
        }

        &--bottom {
            @include respondmax(xl80) {
                width: 100%;
                min-height: unset;
            }

            @include respondmax(lg) {
                margin-bottom: 122px;
            }

            p {
                position: relative;
                font-size: 27px;
                color: #fff;
                padding-left: 15px;

                @include respondmax(xl1616) {
                    font-size: 22px;
                }

                @include respondmax(md) {
                    font-size: 18px;
                }
                span {
                    position: relative;
                    float: left;
                    width: 12px;
                    height: 22px;
                    background-image: url(../../img/Group12.png);
                    background-repeat: repeat-x;
                    margin-top: 16px;
                    margin-right: 8px;
                    display: none;
                }

                &:after {
                    position: absolute;
                    content: "";
                    left: -12px;
                    width: 12px;
                    height: 12px;
                    background-image: url(../../img/Group12.png);
                    background-repeat: repeat-x;
                    top: 9px;
                }
            }

            background-color: #264796;
            width: 50%;
            float: right;
            bottom: -108px;
            padding: 15px 30px;
            min-height: 480px;
            position: relative;
            margin-bottom: 180px;
        }
    }

    &__characteristic {
        &--background {
            @include respondmax(xl) {
                flex-direction: column;
                width: 100%;
            }
            background-color: #f5f4f4;
            display: flex;
            align-items: center;
            width: 100%;
        }

        img {
            width: 50%;
            min-height: 250px;
            object-fit: cover;

            @include respondmax(xl) {
                width: 100%;
                max-height: 500px;
            }
        }

        padding-top: 170px;

        @include respondmax(md) {
            padding-top: 98px;
        }
        &--content {
            padding: 20px 0;
            width: 49%;
            display: inline-block;
            padding-left: 35px;
            padding-right: 20px;

            @include respondmax(xl) {
                width: 100%;
            }

            @include respondmax(md) {
                padding: 20px 13px 20px 13px;
            }

            h4 {
                font-size: 50px;
                color: #264796;
                font-weight: 600;

                @include respondmax(xl1457) {
                    font-size: 30px;
                }
            }

            p {
                position: relative;
                font-size: 27px;
                color: #264796;
                padding-left: 15px;
                padding-left: 27px;

                @include respondmax(xl1457) {
                    font-size: 22px;
                }

                @include respondmax(md) {
                    font-size: 18px;
                }

                &:after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 17px;
                    height: 12px;
                    background-image: url(../../img/arrows.png);
                    background-repeat: repeat-x;
                    margin-right: 8px;
                    margin-top: 13px;
                }
            }
        }
    }

    &__flex {
        display: flex;
        @include respondmax(xl) {
            flex-direction: column;
        }
    }

    &__tubesIn {
        margin-top: 80px;
        padding-top: 20px;
        background-color: #f7f6fb;

        &--left {
            display: inline-block;
            width: 50%;

            @include respondmax(xl) {
                width: 100%;
            }

            h4 {
                color: #264796;
                font-size: 50px;
                font-weight: bold;
                margin-bottom: 25px;

                @include respondmax(xl1457) {
                    font-size: 35px;
                }
            }

            p {
                color: #000;
                font-size: 28px;

                @include respondmax(xl1457) {
                    font-size: 22px;
                }
            }
        }

        &--right {
            display: inline-block;
            width: 49%;
            padding-left: 30px;

            @include respondmax(xl) {
                width: 100%;
                padding-left: 0;
            }

            img {
                width: 100%;

                @include respondmax(xl) {
                    max-height: 245px;
                    object-fit: contain;
                }
            }
        }

        &--bottoms {
            width: 100%;
            min-height: 500px;
            margin-bottom: -100px;
            background-color: #264796;
            padding: 20px;
            overflow: hidden;

            @include respondmax(xl) {
                min-height: 300px;
            }
            h4 {
                color: #fff;
                font-size: 50px;

                @include respondmax(xl1457) {
                    font-size: 35px;
                }
            }

            p {
                position: relative;
                font-size: 27px;
                color: #fff;
                padding-left: 15px;
                padding-left: 27px;

                @include respondmax(xl1457) {
                    font-size: 21px;
                }
                &:after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 12px;
                    height: 12px;
                    background-image: url(../../img/Group12.png);
                    background-repeat: repeat-x;
                    margin-right: 8px;
                    margin-top: 13px;
                }
            }
        }
    }
}
